<style>
.form-popup {
  display: none;
  position: fixed;
  top: 30px;
  right: 30px;
}

.form-container {
  padding: 10px;
  background-color: white;
}

.form-container .btn {
  background-color: yellow;
  color: blue;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .formTitle {
  font-family: Roboto slab, serif;
  font-size: 16px;
}

.form-container .bth:hover,
.open-button:hover {
  opacity: 1;
}
</style>

<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <div class="leftbox">
          <a href="../../{{ site.index }}" class="left navlink">

            <img id="logo" src="../assets/bsa_logo_short_1819.png" style="position: absolute; left: 10px; top: 5px;" />
            <span id="homemenuitem" style="font-family: Roboto slab, serif;">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;Bruin Sports Analytics
            </span>

          </a>
        </div>

        <ul id="days" class="right hide-on-med-and-down">
          <li id="Blog"><a class="navlink" href="../../blog{{ site.blog }}" style="font-family: Roboto slab, serif;">Blog</a></li>
          <li id="Projects"><a class="navlink" onclick="openForm()" style="font-family: Roboto slab, serif;">Projects</a></li>
          <li id="Research"><a class="navlink" href="../../research{{ site.research }}" style="font-family: Roboto slab, serif;">Research</a></li>
          <li id="Officers"><a class="navlink" href="../../officers{{ site.officers }}" style="font-family: Roboto slab, serif;">Officers</a></li>
          <li id="About"><a class="navlink" href="../../about{{ site.about }}" style="font-family: Roboto slab, serif;">About</a></li>
          <li id="Speakers"><a class="navlink" href="../../speakers{{ site.speakers }}" style="font-family: Roboto slab, serif;">Speakers</a></li>

        </ul>


        <ul class="side-nav" id="mobile-demo">
          <li id="Home"><a class="navlink" href="../../{{ site.index }}" style="font-family: Roboto slab, serif;">Home</a></li>
          <li id="Blog"><a class="navlink" href="../../blog{{ site.blog }}" style="font-family: Roboto slab, serif;">Blog</a></li>
          <li id="Projects"><a class="navlink" onclick="openForm()" style="font-family: Roboto slab, serif;">Projects</a></li>
          <li id="Research"><a class="navlink" href="../../research{{ site.research }}" style="font-family: Roboto slab, serif;">Research</a></li>
          <li id="Officers"><a class="navlink" href="../../officers{{ site.officers }}" style="font-family: Roboto slab, serif;">Officers</a></li>
          <li id="About"><a class="navlink" href="../../about{{ site.about }}" style="font-family: Roboto slab, serif;">About</a></li>
          <li id="Speakers"><a class="navlink" href="../../speakers{{ site.speakers }}" style="font-family: Roboto slab, serif;">Speakers</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<div class="form-popup" id="myForm">
  <form onsubmit="return checkPswd()" class="form-container">
    <h1 class="formTitle">Password:</h1>
    <input type="password" placeholder="Enter Password" id="pswd" required>
    <button type="submit" class="btn">Login</button>
  </form>
</div>


<script>
  function openForm() {
    document.getElementById("myForm").style.display = "block";
  }

  function checkPswd() {
    // lol, dont peek
    var password = "lovemesomegene";
    var input = document.getElementById("pswd").value;
    if (input == password) {
      window.location = '../../projects_secret{{ site.projects_secret }}';
    } else {
      alert("Password does not match");
    }
    return false;
  }

  $(document).ready(function () {
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
    $(".button-collapse").sideNav();
  });     
</script>